<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.it342.projectmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".PMSApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectManagementSystem"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        
        <!-- FCM Default Icon -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
            
        <!-- FCM Default Color -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
            
        <!-- FCM Default Channel -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
            
        <!-- Firebase Messaging Service -->
        <service
            android:name=".services.PMSFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <!-- Local Notification Receiver -->
        <receiver
            android:name=".services.LocalNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="CHECK_NOTIFICATIONS" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomePage"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FacultyDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageAppointmentRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ViewAppointmentScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageAppointmentParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FacultyAppointmentScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:exported="false" />
        <!-- <activity android:name=".StudentDashboardActivity" /> -->
    </application>

</manifest>